<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Add these meta tags to your layout.html file in the head section -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- Prevent iOS from detecting phone numbers and applying styling -->
		<meta name="format-detection" content="telephone=no" />
		<!-- Ensure proper rendering on older IE browsers -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- Optional: Fast clicking on mobile devices -->
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>{% block title %}{% endblock %}</title>

		<!-- Stylesheets -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		/>
		<link rel="stylesheet" href="/assets/labmanager/css/style.css" />
		<link
			rel="shortcut icon"
			href="/assets/labmanager/images/favicon.ico"
			type="image/x-icon"
		/>
		<link rel="icon" href="/assets/labmanager/images/favicon.ico" type="image/x-icon" />
		<script src="https://cdn.tailwindcss.com"></script>

		{% block head %}{% endblock %}
	</head>
	<body>
		<header>{% block header %}{% endblock %}</header>

		<main>{% block content %}{% endblock %}</main>

		<footer>{% block footer %}{% endblock %}</footer>

		{% block scripts %}{% endblock %}
	</body>
</html>
