{% extends "templates/layout.html" %} {% block title %}Course Details - TechEthica{% endblock %} {%
block head %}
<link rel="stylesheet" href="/assets/labmanager/css/react-style.css" />
{% endblock %} {% block content %}
<div id="react-root">
	<div id="course-data" data-course="{{ frappe.form_dict.course }}"></div>
</div>
{% endblock %} {% block scripts %}
<script type="text/javascript">
	window.courseCode = document.getElementById("course-data").dataset.course;
	window.socketPort = "{{ socketPort }}";
</script>
<script type="text/javascript" src="/assets/labmanager/js/react/bundle.js"></script>
{% endblock %}
