<!-- labmanager/student-registration/details.html -->
{% extends "templates/layout.html" %} {% block title %}Student Registration - TechEthica{% endblock
%} {% block head %}
<!-- Any additional head elements specific to this page -->
{% endblock %} {% block content %}
<div id="enrollment-root">
	<div id="registration-data" data-registration="{{ frappe.form_dict.name }}"></div>
</div>
{% endblock %} {% block scripts %}
<script type="text/javascript">
	window.registrationId = document.getElementById("registration-data").dataset.registration;
	window.socketPort = "{{ socketPort }}";
</script>
<script type="text/javascript" src="/assets/labmanager/js/react/bundle.js"></script>
{% endblock %}
